/* BRAND COLORS ====================================== */
$color_primary	: 	#5ADEFF;
$color_dark		: 	#1B252F;
$color_light	: 	#f8f8f8;

/* BASE COLORS  ====================================== */
$black          :   #000000;
$white          :   #FFFFFF;
$placeholder	: 	#757575;



/* TYPOGRAPHY   ====================================== */
$font_primary   : 'Raleway', sans-serif;
$font_secondary : freight-text-pro, serif;